/*
  NOTE:
  Google fonts loaded in JS, using the Google/Typekit webfont.js library
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  --nav-height: 2rem;

  --color-hint-primary: #38a8dc;
  --color-hint-secondary: #e55f2a;

  --color-gray-dark: #262626;
  --color-gray-medium: #454545;
  --color-gray-light: #696969;
  --color-gray-lighter: #bababa;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--color-gray-dark);
}

#phaser-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#phaser-app canvas {
  width: 1400px;
  height: 700px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1rem;
  height: var(--nav-height);
  background: var(--color-gray-light);
}

button {
  font-size: 1rem;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 2em;
  cursor: pointer;
  background-color: var(--color-gray-medium);
  color: var(--color-gray-lighter);
  letter-spacing: 0.03em;
  transition: background-color 100ms ease-out;
}

button:active {
  background-color: var(--color-hint-secondary);
}

button:hover {
  background-color: var(--color-hint-primary);
  color: #ffffff;
}

button.large {
  font-size: 1.5rem;
}
