@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  --nav-height: 3rem;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-size: var(--font-size);
}

#phaser-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#phaser-app canvas {
  width: 1400;
  height: 700;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1rem;
  height: var(--nav-height);
  background: gray;
}
