/*
  NOTE:
  Google fonts loaded in JS, using the Google/Typekit webfont.js library
*/

/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  line-height: 1.6rem;
}
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
  background-color: var(--color-gray-700);
  border: solid 1px var(--color-gray-600);
  color: var(--color-gray-50);
  box-shadow: 1px 3px 1px black;
  padding: 0 0.5em;
  border-radius: 3px;
  margin: 2px 3px;
  font-weight: 700;
  display: inline-block;
}

small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}

:root {
  --font-size: 16px;

  --color-hint-primary: #60a5fa;
  --color-hint-primary-strong: #2563eb;
  --color-hint-secondary: #fbbf24;
  --color-hint-secondary-strong: #e55f2a;

  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #a1a1aa;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #27272a;
  --color-gray-900: #18181b;

  --input-width: 280px;
  --input-unit-width: 30px;
  --input-border-radius: 0.2em;

  --flex-gap: 2em;
  --flex-gap-small: calc(var(--flex-gap) / 2);
}

html {
  font-size: var(--font-size);
  font-family: 'Cousine';
  color: var(--color-gray-100);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-hint-secondary);
}

h1 {
  padding: 0.5em 0 0.75em 0;
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--color-gray-900);
}

#phaser-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#phaser-app canvas {
  width: 1400px;
  height: 700px;
}

/* Form */
input,
textarea {
  padding: 0.45em 0.5em;
  margin: 0.4em 0 1em 0;

  border-radius: var(--input-border-radius);
  border: none;
}

input:disabled {
  color: var(--color-gray-200);
}

button {
  font-size: 1rem;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 2em;
  cursor: pointer;
  background-color: var(--color-gray-700);
  color: var(--color-gray-200);
  letter-spacing: 0.03em;
  transition: background-color 100ms ease-out;
}

button.cancel:hover {
  background-color: var(--color-hint-secondary);
}

button:active {
  background-color: var(--color-hint-secondary);
}

button:hover {
  background-color: var(--color-hint-primary);
  color: #ffffff;
}

button.large {
  font-size: 1.5rem;
}

button[type='submit'] {
  margin-top: 1rem;
}

/* Lab form components */
.subscene_container .preview {
  width: calc(var(--input-width) * 1.45);
  height: calc(var(--input-width) * 1.45);
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

/* ............ */
/*  LOGIN FORM  */
/* ............ */
.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > div {
  display: flex;
  flex-direction: column;
}

/* ............... */
/* SUBSCENE STYLES */
/* ............... */
.subscene_container {
  display: flex;
  flex-direction: column;
  height: 512px;
  width: 1230px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.subscene_container a,
.subscene_container a:visited {
  text-decoration: none;
  color: var(--color-hint-primary);
  transition: color 400ms;
}

.subscene_container a:hover {
  color: var(--color-hint-secondary);
}

.subscene_container p {
  margin: 0.5em 0;
  line-height: 1.9em;
}

.subscene_container p,
.subscene_container h1,
.subscene_container h2,
.subscene_container h3,
.subscene_container h4,
.subscene_container h5,
.subscene_container h6 {
  letter-spacing: 0.03em;
}

.subscene_container h4 {
  text-transform: uppercase;
}

.subscene_container > h2 {
  margin: 0;
  padding: 0;
}

.subscene_container h2[data-title] {
  margin: 0;
  padding: 0;
}

.subscene_container input {
  width: 100%;
}

.subscene_container label {
  font-size: 0.95rem;
  color: #7ab8ff;
}

.subscene_container input.eighth {
  width: calc(var(--input-width) / 8 + var(--input-unit-width));
}

.subscene_container input.quarter {
  width: calc(var(--input-width) / 4 + var(--input-unit-width));
}

.subscene_container input.third {
  width: calc(var(--input-width) / 3 + var(--input-unit-width));
}

.subscene_container input.half {
  width: calc(var(--input-width) / 2 + var(--input-unit-width));
}

.subscene_container input.twothirds {
  width: calc(var(--input-width) / 3 * 2 + var(--input-unit-width));
}

/* subscene image zoom */
.subscene_container .preview {
  --handle-bg-size: 18px;
  position: relative;
}
.subscene_container .preview .zoom {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: zoom-in;
}

.subscene_container .preview .zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
  height: 100%;
}

.subscene_container .preview .zoom img:hover {
  opacity: 0;
}

.subscene_container .preview:hover {
  cursor: all-scroll;
}

.subscene_container .preview .next {
  width: var(--handle-bg-size);
  height: var(--handle-bg-size);
  border: solid 2px var(--color-gray-500);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 200ms;
  z-index: 10;
}

.subscene_container .preview .next:hover {
  background-color: var(--color-hint-primary);
  border-color: var(--color-hint-primary);
}

.subscene_container .preview .next-left {
  position: absolute;
  top: calc(50% - var(--handle-bg-size) / 2);
  left: 0.4em;
}

.subscene_container .preview .next-right {
  position: absolute;
  top: calc(50% - var(--handle-bg-size) / 2);
  right: 0.4em;
}

/* End subscene image zoom */

div.subscene_container::-webkit-scrollbar {
  width: 2px;
}

div.subscene_container::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  box-shadow: inset -1px 0 0 var(--color-gray-800);
}

div.subscene_container::-webkit-scrollbar-thumb {
  background-color: var(--color-hint-secondary);
}

div.subscene_container .pad-l {
  padding-left: 1rem;
}

div.subscene_container .pad-r {
  padding-right: 1rem;
}

.subscene_container .pad-x {
  padding-left: 1em;
  padding-right: 1em;
}

.subscene_container .pad-y {
  padding-top: 1em;
  padding-bottom: 1em;
}

.subscene_container .pad-t {
  padding-top: 1em;
}

.subscene_container .pad-b {
  padding-bottom: 1em;
}

.mx {
  margin-left: 1em;
  margin-right: 1em;
}

.my {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.subscene_container h4 {
  margin: 1em 0 0;
  cursor: default;
}

div.subscene_container h4:hover {
  background-color: var(--color-gray-800);
}

.subscene_container .item {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-gray-800);
  border-bottom: solid 1px var(--color-gray-900);
}

/* ........................ */
/*  SUPER BASIC GRID LAYOUT */
/* ........................ */
.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--flex-gap);
  justify-content: flex-start;
  /* border: solid gray 1px; */
}

.flex-gap {
  gap: var(--flex-gap);
}

.flex-gap-small {
  gap: var(--flex-gap-small);
}

.flex-row .flex-row {
  gap: var(--flex-gap-small);
}

.flex-row .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  /* border: dashed 1px blue; */
}

.flex-row .flex-column.grow {
  flex-grow: 1;
}

.flex-row .flex-column.shrink {
  flex-shrink: 2;
}

.flex-row .space-between,
.flex-column .space-between {
  justify-content: space-between;
}

/* ....................... */
/*  INPUT UNITS DECORATORS */
/* ....................... */
.is_unit {
  margin: 0.4em 0 1em 0;
  position: relative;
}

.is_unit::after {
  content: '';
  color: var(--color-gray-900);
  position: absolute;
  left: calc(var(--input-width) - var(--input-unit-width));
  width: var(--input-unit-width);
  height: 100%;
  background-color: var(--color-hint-secondary);
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  line-height: 2em;
  text-align: center;
}

.is_unit.eighth::after {
  left: calc(var(--input-width) / 8);
}

.is_unit.quarter::after {
  left: calc(var(--input-width) / 4);
}

.is_unit.third::after {
  left: calc(var(--input-width) / 3);
}

.is_unit.half::after {
  left: calc(var(--input-width) / 2 - var(--input-unit-width) - 0.5em);
}

.si_unit.twothirds::after {
  left: calc(var(--input-width) * 2 / 3 - var(--input-unit-width) - 0.5em);
}

.is_unit__m::after {
  content: 'm';
}

.is_unit__cm::after {
  content: 'cm';
}

.is_unit__g::after {
  content: 'g';
}

.is_unit__kg::after {
  content: 'kg';
}

.is_unit__m:empty::after,
.is_unit__g:empty::after,
.is_unit__kg:empty::after {
  content: '';
}

.is_unit input {
  margin: 0;
  width: calc(var(--input-width) - var(--input-unit-width) - 6px);
  margin-right: var(--input-unit-width);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* TABS */
.subscene_container .tab {
  cursor: pointer;
  padding: 4px 20px;
  display: inline-block;
  margin: 0 2px;
  border: solid 1px rgb(59, 59, 59);
  border-bottom: none;
}

.subscene_container .tab:hover,
#radio-one:checked ~ .tabs #tab-one,
#radio-two:checked ~ .tabs #tab-two,
#radio-three:checked ~ .tabs #tab-three {
  background-color: var(--color-hint-primary);
  color: white;
}

.subscene_container .panels {
  min-height: 200px;
  overflow: hidden;
  padding-top: 20px;
  border-top: solid 1px rgb(59, 59, 59);
}

.subscene_container .panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.subscene_container .tabs-radio {
  display: none;
}

#radio-one:checked ~ .panels #panel-one,
#radio-two:checked ~ .panels #panel-two,
#radio-three:checked ~ .panels #panel-three {
  display: block;
}

/* SubScenes */

kbd {
  cursor: pointer;
  transition: background-color 600ms, color 400ms;
}

kbd:hover {
  color: var(--color-gray-800);
  background-color: var(--color-hint-secondary);
}

/* Collectionitem subscene */
.subscene_container dl {
  margin: 0.3rem 0;
  padding: 0;
}

.subscene_container dt {
  font-weight: bold;
  /* line-height: 0.3em; */
  color: var(--color-hint-secondary);
  margin: 1em 0 0%;
  padding: 0;
  margin-right: 0.5em;
}

.subscene_container dt::after {
  content: ':';
}

.subscene_container dd {
  /* line-height: 1.1em; */
  margin: 0;
  padding: 0;
}

.subscene_container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px;
  border-color: var(--color-gray-600);
  border-style: solid;
}

.subscene_container table {
  font-size: 0.8em;
}
.subscene_container table th {
  padding: 0.2rem;
  border-width: 1px;
  border-color: var(--color-gray-600);
  border-style: solid;
  background-color: var(--color-hint-secondary);
  color: var(--color-gray-900);
}

.subscene_container table td {
  padding: 0.2em;
  border-width: 1px;
  border-color: var(--color-gray-600);
  border-style: solid;
  text-align: center;
  width: auto;
}

.subscene_container table thead {
  font-weight: 800;
  color: var(--color-hint-secondary);
}

.tag {
  background-color: var(--color-gray-700);
  color: white;
  border-radius: 3px;
  padding: 0.3em 0.8em;
  margin: 0.5em;
  display: inline-block;
}

dd .tag:first-of-type {
  margin-left: 0;
}
